{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/jenna.jpg" %}" alt="Max - The Author Of This Blog" />
    <h2>SAMARA'S BLOG</h2>
  </header>
  <p>Hi, I am Samara and I love to blog about music and singers!</p>
</section>

<section id="latest-posts">
  <h2>Latest News</h2>

  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    News about yours favorite singers and musics!
  </p>
  <p>
    My goal is to keep My goal is to keep you informed about the world of music and its news!
  </p>
</section>
{% endblock %}
